:root {
  --background-color: #131928;
  --text-color: #E8E4FF;
  --text-grey: #7a7b90;
  --btn-text-color: #D8D8D8;
  --btn-border-color: #979797;
  --section-border-color: #5e6068;
  --section-gradient-bg: #1c2335, transparent;
}

/* background: linear-gradient(to right, #f7b500 0%, #b620e0 50%, #32c5ff 100%); */



body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  font-size: 16px;
}

.container {
  max-width: 1146px;
}

.gradient-text {
  text-transform: uppercase;
  background: linear-gradient(to right, #f7b500 0%, #b620e0 50%, #32c5ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 600;
}

.btn-1 {
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 7px;
  padding: 16.5px 16px;
  margin-top: 20px;

}

.btn-1:hover {
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
}

.text-grey {
  color: var(--text-grey);
}

/* header */

header {
  padding-top: 80px;
}

.logo img {
  max-width: 95px;
}

header .join-form {
  max-width: 471px;
}

header .join-form .input-group {
  position: relative;
}

.join-form input.form-control {
  color: var(--text-grey);
  padding: 16.5px 16px;
  padding-left: 40px;
  padding-right: 200px;
  border-radius: 50px !important;
  width: 100%;
  border: 1px solid #606369;
  position: relative;
  z-index: 1;
}

.join-form input.form-control::placeholder {
  color: var(--text-grey);
}

.join-form button {
  padding: 16.5px 16px;
  border-radius: 50px !important;
  width: 199px;
  position: absolute !important;
  right: 0 !important;
  z-index: 9999;
  border: 1px solid #606369;
}

.join-form button:hover {

  border: 1px solid var(--text-grey);
}

/* banner */

.banner {
  padding-top: 100px;
}

.banner-title,
.title-bg-gradient {
  position: relative;
  margin-bottom: 20px;
}

.banner-title::after,
.title-bg-gradient::after {
  content: url(../images/baner-txt-bg.png);
  position: absolute;
  top: -140%;
  left: 0;
  z-index: 1;
}

.banner-title h1,
.title-bg-gradient h1 {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--text-color);
  position: relative;
  z-index: 5;
}

.banner-title p,
.title-bg-gradient p {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--text-grey);
}

.banner-btn {
  margin-top: -160px;
}

.text-box p {
  font-size: 1em;
  color: var(--text-color);
  margin-top: 20px;
}



/* every-section */
.every-section {
  margin-top: 100px;
  background: url(../images/every-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;

}


img {
  max-width: 100%;
}

.text-box-left {
  padding-top: 100px;
  padding-left: 85px;
}

.text-shadow {
  position: relative;
}

.text-shadow h2 {
  white-space: nowrap;
}

.gradient-shadow {
  font-weight: 600;
  font-size: 2.5em;
  color: var(--text-color);
  background: linear-gradient(to right, #f7b500 0%, #b620e0 50%, #32c5ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(15px);
}

.text-shadow h2:nth-child(2) {
  position: absolute;
  top: 0;
}

.text-shadow h2.title {
  font-weight: 600;
  font-size: 2.5em;
  color: var(--text-color);
  position: absolute;
  top: 0;
}

.every-section .text-box p {
  font-size: 1em;
}

.every-section .section-img {
  width: 690px;
  position: relative;
  top: -66px;
  left: -130px;
}

/* centralise-section */
.centralise-section {
  margin-top: -330px;
  padding-bottom: 180px;
  background: url(../images/centralise-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.centralise-section .text-box {
  margin-top: 360px;
  position: relative;
  right: 110px;
}

.centralise-section .text-box p {
  font-size: 1em;
}

.centralise-section .section-img {
  width: 528px;
  position: relative;
  left: -100px;
  top: 50px;
}

/* connect-section */
.connect-section {
  margin-top: 15px;
  background: url(../images/connect-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.connect-section .section-img {
  width: 640px;
  position: relative;
  left: -200px;
  top: -60px;
}

.connect-section .text-box p {
  font-size: 1em;
}

/* plan-section */
.plan-section {
  margin-top: -360px;
  padding-bottom: 250px;
  background: url(../images/plan-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.plan-section .section-img {
  position: relative;
  right: 50px;
  top: -20px;
}

.plan-section .text-box-left {
  max-width: 830px;
  padding-top: 50px;
  position: relative;
  top: 60px;

}

.plan-section .text-box p {
  font-size: 1em;
}

.plan-section p.app-icon {
  margin-right: 85px;
  position: relative;
  top: 80px;
}

/* learn-section */
.learn-section {
  padding-bottom: 160px;
  margin-top: 30px;
  background: url(../images/learn-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.learn-section .text-box p {
  font-size: 1em;
}

.learn-section .section-img {
  width: 560px;
  position: relative;
  top: 100px;
  left: 0;
}

/* global-section */
.global-section {
  position: relative;
  padding-bottom: 160px;
  margin-top: -360px;
  background: url(../images/global-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
}

.section-bg {
  position: absolute;
  z-index: -1;
}

.section-bg svg {
  width: 100%;
}

.global-section .text-box-left {
  padding-top: 0;
}

.global-section .text-shadow {
  margin-bottom: 55px;
}

.global-section .btn-1:nth-child(0) {
  padding: 16.5px 35px;
}

.global-section .btn-1:nth-child(1) {
  padding: 16.5px 26px;
}

.global-section p.language-icon {
  position: relative;
  top: 60px;
  left: 60px;
  max-width: 222px;
}

/* privacy-section */
.privacy-section {
  position: relative;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 200px;
  background: url(../images/privacy-bg.svg) no-repeat;
  background-size: contain;
  background-position: center;
  padding: 90px 0;
}

.privacy-section .text-box p {
  font-size: 1em;
}

.privacy-section .section-img {
  position: relative;
  left: 50px;
  top: 40px;
  max-width: 222px;
}

.privacy-section .text-box-left {
  padding-top: 70px;
}

/* .side explainer */
.side-explainer {
  margin-top: 100px;
}

.side-explainer-col {
  margin-top: 100px;
}


.side-explainer-col .title-bg-gradient h1 {
  font-size: 2em;
}

.side-explainer-col .title-bg-gradient p {
  font-size: 1em;
}

.side-explainer .title-bg-gradient::after {
  top: -130%;
}

.side-explainer-col .title-bg-gradient::after {
  content: "";
  background: url(../images/baner-txt-bg.png);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: -50px;
  left: -90px;
  background-position: center center;
  background-size: cover;
  z-index: -1;

}



.side-explainer-col-3 .title-bg-gradient h1 {
  font-size: 1.5em;
}

.side-explainer-col-3 .title-bg-gradient p {
  font-size: 1em;
}

.side-explainer-col-3 .title-bg-gradient::after {
  top: -80px;
  left: 0;
  background-size: contain;
}

.side-explainer-col-3 .side-explainer-img {
  max-width: 177px;
  margin: auto;
  margin-bottom: 50px;
}

.side-explainer-col-3 .text-grey {
  padding: 0 20px;
  margin-top: 20px;
}






/* footer */
.footer-before {
  margin-top: 250px;
}

.footer-before .join-form {
  max-width: 471px;
  margin-right: 150px;
}

footer {
  background: linear-gradient(#20293d, #131928);
  border-radius: 17px;
  padding-top: 75px;
  padding-bottom: 90px;
  margin-bottom: 20px;
  margin-top: 70px;
}

footer .section-img {
  position: relative;
}

footer .section-img img {
  position: absolute;
  top: -340px;
}

.footer-widget ul {
  padding: 0;
}

.footer-widget ul li a {
  text-decoration: none;
}

.footer-widget h3 {
  font-size: 1.25em;
}


.footer-widget h3,
.footer-widget ul li a {
  color: var(--text-color);
}

.footer-widget a {
  font-size: 1em;
}

span.menu-badge {
  color: #D8D8D8;
  padding: 3px 10px;
  font-size: 0.75em;
  margin-left: 5px;
  position: relative;
  border: 1px solid var(--btn-border-color);
  border-radius: 50px;
  background: linear-gradient(var(--section-gradient-bg));
  top: -10px;
}

/* responsive code */

@media only screen and (max-width: 1220px) {

  .section-img {
    width: 100% !important;
    position: relative;
    top: unset;
    left: unset;
  }

  .banner-title::after,
  .title-bg-gradient::after {
    content: "";
    background: url(../images/baner-txt-bg.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0%;
    left: 0;
    z-index: 1;
  }

  .centralise-section {
    margin-top: -240px;
    padding-bottom: 0;
  }

  .every-section .text-box {
    padding-top: 70px;
  }


  .centralise-section .text-box {

    top: -70px;
  }


  .centralise-section .section-img {
    left: 0;
  }

  .connect-section,
  .learn-section {
    padding: 73px 0;
  }


  .text-box-left {
    padding-top: 0;
    padding-left: 125px;
  }

  .connect-section .section-img {
    left: -30px;
  }

  .plan-section .section-img {
    position: relative;
    right: 0;
    top: 110px;
  }

  .plan-section {
    margin-top: -240px;
    padding-bottom: 15px;
  }

  .plan-section .section-img {
    top: 0;
  }

  .learn-section .section-img {
    top: -60px;
  }


  .plan-section .text-box-left {

    top: -40px;
  }

  .plan-section p.app-icon {
    top: -40px;
  }

}


@media only screen and (max-width: 991px) {
  header {
      padding-top: 20px;
    }

        .section-img {
          max-width: 300px;
          margin: auto;
        }

  .banner-title::after,
  .title-bg-gradient::after {
    content: "";
    background: url(../images/baner-txt-bg.png) no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0%;
    left: 0;
    z-index: 1;
  }

  .section-img {
    width: 100% !important;
  }



  .text-box-left {
    padding: 0;
  }

  .every-section .section-img {
    top: unset;
    left: unset;
  }


  .section-img {
    left: 0 !important;
    top: 0 !important;
  }


  .every-section,
  .centralise-section,
  .connect-section,
  .plan-section,
  .learn-section,
  .global-section {
    border: 1px solid var(--section-border-color);
    border-radius: 15px;
    padding-bottom: 50px;
    background: linear-gradient(#1c2335, transparent);
    margin: unset;
    margin: 30px 0;
    padding: 50px 20px;
  }


  .every-section {
    margin-top: 150px;
  }

  .every-section .col-md-6{
    display: flex;
    align-items: center;
  }

    .every-section .text-box{
      padding-top: 0;
    }

  .centralise-section .text-box {
    margin-top: 0;
    top: 0;
    left: 0;
  }

  .privacy-section {
    border: 1px solid var(--section-border-color);
    border-radius: 7px 7px 100px 100px;
    padding-bottom: 50px;
    background: linear-gradient(#1c2335, transparent);

  }

  .privacy-section .text-box-left {
    padding-top: 0;
  }

  .plan-section .section-img {
    max-width: 220px;
    margin: auto;
  }

  .text-box {
    text-align: center;
  }

  .text-shadow h2.title {

    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

    footer .section-img img {
      position: absolute;
      top: -450px;
      left: 0;
  }

  .footer-before .join-form {

    margin-right: unset;
  }

  .join-form input.form-control {
    padding-left: 16px;
  }

  .footer-widget {
    text-align: center;
    margin: 10px 0;
  }

  .footer-widget .app-btn {
    display: block;
    margin-bottom: 10px;
  }

  .privacy-section .align-items-center,
  .align-items-end {
    justify-content: center;
  }


  .global-section p.language-icon {
    top: 15px;
    left: 0;
  }

  .gradient-shadow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .side-explainer-col .title-bg-gradient h1 {
    font-size: 1.5em;
    text-align: center;
  }

  .side-explainer-col .title-bg-gradient p {
    text-align: center;
  }

    .side-explainer .title-bg-gradient::after {
      top: -18px
    }

  .side-explainer-col .title-bg-gradient::after {
    top: -70px;
    left: 0;
    background-size:contain ;
  }

    .title-bg-gradient h1 {
      font-size: 1.5em;
    }
.plan-section p.app-icon {
  top: -40px;
  margin: auto;
}

.side-explainer-col,.side-explainer {
  margin-top: 20px;
}

.banner-title p,
.title-bg-gradient p {
  font-size: .9em;
}

.privacy-section{
  margin-bottom: 20px;
}

.join-form input.form-control{
  padding-right: 180px;
}

.join-form button {
  padding: 16.5px 13px;
  width: 180px;
}

.justify-content-end{
  justify-content: center !important;
}

.logo {
  text-align: center;
}
section.container.privacy-section {
  overflow: hidden;
}

.section-img{
  text-align: center;
}

footer .col-lg-6{
  position: relative;
}

.banner-title h1,
.title-bg-gradient h1{
  font-size: 1.5em;
}

}


@media only screen and (max-width: 425px) {
  .side-explainer-col .title-bg-gradient::after {
      top: -50px;
    }

        .side-explainer-col .title-bg-gradient::after {
          top: -70px;
        }
}